body{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    margin: 0;
}
.main_section{
    display: flex;
    align-items: center;
    height: 100%;
}

.section-top{
    width: 100%;
    height: 100%;
    background-image: url(web_background.jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    background-color: black;
    opacity: 90%;
    color: white;
    padding: 2%;
    border-radius: 25px;
}
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-size: 40px;
    margin-top: 10%;
    color: white;
}



