body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin: auto;
    color: #BDECB6;
}
header {
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #66CCCC;
}
main{
    width: 100%;
    margin-left: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
